<?xml version="1.0" encoding="UTF-8" ?>
<InfrastructureConfig>
    <UdpPort>8577</UdpPort>
    <TcpPort>8677</TcpPort>
    <HttpPort>8777</HttpPort>
    <HttpPortFront>8778</HttpPortFront>
    <FetchInterval>5000</FetchInterval>
    <ClientTcpTimeout>120000</ClientTcpTimeout>

    <HeartbeatInterval>5000</HeartbeatInterval>
    <HeartbeatRetries>3</HeartbeatRetries>

    <JoinNetworkInterval>1000</JoinNetworkInterval>
    <JoinNetworkAttempts>2</JoinNetworkAttempts>

    <SavingNetworkDirectory>\\DESKTOP-53QC65G\sharingParty</SavingNetworkDirectory>
<!--    <SavingInterval>120000</SavingInterval>-->
    <SavingInterval>2000</SavingInterval>

    <SSHConnection>
        <Port>2200</Port>
        <Username>testuser</Username>
        <Password>password</Password>
    </SSHConnection>

    <ServerPollingInterval>5000</ServerPollingInterval>
</InfrastructureConfig>